body {
    margin: 0;
    padding: 0;
    padding-top: 60px;
    font-family: 'Lato', sans-serif;
}

.container {
    width: 840px;
    max-width: 100%;
    margin: auto;
}

h1 {
    text-align: center;
    margin-bottom: 24px;
    }

.container #myInput{
        background-image: url('/img/searchicon.png');
        background-position: 10px 12px;
        background-repeat: no-repeat;
        width: calc(100% - 2px); /* Réduit de 2px pour compenser la bordure */
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
        /* display et box sizing pour un alignement parfait*/
        display: block;
        box-sizing: border-box; /* Empêche le padding et la bordure d'augmenter la largeur */
    }
    

table {
    border-collapse: collapse;
    width: 100%;
  }
  
td, th {
border: 1px solid #dddddd;
text-align: left;
padding: 8px;
}

thead tr {
    background-color: #464646;
    color: #fff;
}

thead tr th {
    text-align: center;
}

tr:nth-child(even) {
background-color: #f3f3f3;
}

